In [2]:
pip install pandas

Requirement already satisfied: pandas in c:\users\admin\anaconda3\lib\site-packages (1.4.2)
Requirement already satisfied: numpy>=1.18.5 in c:\users\admin\anaconda3\lib\site-packages (from pandas) (1.21.5)
Requirement already satisfied: python-dateutil>=2.8.1 in c:\users\admin\anaconda3\lib\site-packages (from pandas) (2.8.2)
Requirement already satisfied: pytz>=2020.1 in c:\users\admin\anaconda3\lib\site-packages (from pandas) (2021.3)
Requirement already satisfied: six>=1.5 in c:\users\admin\anaconda3\lib\site-packages (from python-dateutil>=2.8.1->pandas) (1.16.0)
Note: you may need to restart the kernel to use updated packages.

In [21]:
import pandas as pd

In [22]:
data=pd.read_csv(r"C:\Users\Admin\Downloads\iris_data.csv")

In [23]:
data.head()

   sepal_length  sepal_width  petal_length  petal_width species
0           5.1          3.5           1.4          0.2  setosa
1           4.9          3.0           1.4          0.2  setosa
2           4.7          3.2           1.3          0.2  setosa
3           4.6          3.1           1.5          0.2  setosa
4           5.0          3.6           1.4          0.2  setosa

In [24]:
features=data.drop("species", "columns")
features.head()

C:\Users\Admin\AppData\Local\Temp\ipykernel_20500\2249488100.py:1: FutureWarning: In a future version of pandas all arguments of DataFrame.drop except for the argument 'labels' will be keyword-only.
  features=data.drop("species", "columns")

   sepal_length  sepal_width  petal_length  petal_width
0           5.1          3.5           1.4          0.2
1           4.9          3.0           1.4          0.2
2           4.7          3.2           1.3          0.2
3           4.6          3.1           1.5          0.2
4           5.0          3.6           1.4          0.2

In [25]:
labels=data["species"]
labels.head()

0    setosa
1    setosa
2    setosa
3    setosa
4    setosa
Name: species, dtype: object

In [26]:
from sklearn.model_selection import train_test_split

In [27]:
xtrain,xtest,ytrain,ytest=train_test_split(features,labels,test_size=0.2)
xtrain

     sepal_length  sepal_width  petal_length  petal_width
103           6.3          2.9           5.6          1.8
108           6.7          2.5           5.8          1.8
89            5.5          2.5           4.0          1.3
119           6.0          2.2           5.0          1.5
58            6.6          2.9           4.6          1.3
..            ...          ...           ...          ...
50            7.0          3.2           4.7          1.4
90            5.5          2.6           4.4          1.2
77            6.7          3.0           5.0          1.7
43            5.0          3.5           1.6          0.6
17            5.1          3.5           1.4          0.3

[120 rows x 4 columns]

In [28]:
ytrain

103     virginica
108     virginica
89     versicolor
119     virginica
58     versicolor
          ...
50     versicolor
90     versicolor
77     versicolor
43         setosa
17         setosa
Name: species, Length: 120, dtype: object

In [29]:
from sklearn.neighbors import KNeighborsClassifier

In [30]:
knn=KNeighborsClassifier(n_neighbors=3)

In [31]:
knn.fit(xtrain,ytrain)

KNeighborsClassifier(n_neighbors=3)

In [32]:
results=knn.predict(xtest)
results

array(['virginica', 'virginica', 'setosa', 'virginica', 'virginica',
       'virginica', 'virginica', 'setosa', 'versicolor', 'setosa',
       'setosa', 'setosa', 'versicolor', 'setosa', 'virginica',
       'virginica', 'virginica', 'setosa', 'setosa', 'virginica',
       'virginica', 'virginica', 'setosa', 'setosa', 'versicolor',
       'versicolor', 'versicolor', 'setosa', 'setosa', 'versicolor'],
      dtype=object)

In [35]:
from sklearn.metrics import accuracy_score, confusion_matrix
print(accuracy_score(results,ytest)*100)

93.33333333333333

In [36]:
confusion_matrix(results, ytest)

array([[12,  0,  0],
       [ 0,  6,  0],
       [ 0,  2, 10]], dtype=int64)